html, body, .container-fluid {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.form-group {
  margin-bottom: 2vh;
}

.wbdv-hamburger {
  margin-right: 10vw;
}

.whole-box {
  margin-bottom: 3vh;
}

.heading {
  background-image: linear-gradient(to right, #000055, #003355);
  height: 50vh;
  display: flex;
  align-items: center;
  background-size: cover;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  padding: 5vh;
}

.headers {
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: azure;
  background-color: #555555;
}

.wbdv-title.wbdv-header {
  padding-left: 12vw;
}

.wbdv-sort, .wbdv-list-layout, .wbdv-grid-layout {
  margin-right: 10vh;
}

.nav-link {
  padding-left: 4vw;
  padding-right: 4vw;
}

.user-form {
  padding-top: 5vh;
  padding-right: 3vh;
  padding-left: 3vh;
}

.cancel {
  display: flex;
  align-items: flex-end;
}

.homepage-button-group {
  padding: 2vh;
}

.add-course-btn {
  color: azure;
}

.new-course {
  padding-left: 20vh;
  padding-right: 5vh;
}

.class-list {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2vh;
}

h6 {
  margin: 2%;
  margin-bottom: 1%;
  color: #555555;
}

.all-classes {
  margin-bottom: 5vh;
}

.wbdv-course {
  width: 100%;
  padding: .2vh;
}

.wbdv-row {
  padding-left: 0;
}

.wbdv-delete {
  justify-content: right;
}

.wbdv-sort {
  padding-top: 1vh;
}

/* editor styles */

.btn, .btn:hover {
  color: azure;
}

.editor-row {
  padding-right: 2vw;
}

.nav-light-text {
  color: azure;
}

.editor-container {
  background-image: linear-gradient(to right, #333333, #222222);
}

.content-frame {
  justify-content: center;
}

.content-frame-right {
  background-color: azure;
  margin-top: 2vh;
}

.wbdv-module-list {
  color: azure;
  padding: 2vh;
}

.wbdv-module-item {
  margin: 2vh;
  background-color: #444444;
  height: min-content;
  padding: 1vh;
}

.wbdv-module-item-title {
  justify-content: left;
}

.wbdv-module-item:hover {
  background-color: #666666;
}

.wbdv-module-item:active {
  background-color: #555555;
}

.wbdv-topic-pill {
  margin: 2vh;
}

.dark-text {
  color: #444444;
}

.dark-text:hover {
  color: #444444;
  background-color: #c0cccc;
}

.topic-frame {
  color: #333333;
  margin-bottom: 2vh;
  padding: 2vh;
  background-color: #f9ffff;
}


@media (max-width: 600px) {
  .wbdv-owner, .wbdv-modified-date {
      display: none;
  }
}

@media (max-width: 900px) {
  [class*="col-"] {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
  }

  .wbdv-sort, .wbdv-list-layout, .wbdv-grid-layout, .wbdv-header {
      display: none;
  }
  .headers {
      background-color: white;
  }
  .wbdv-label {
      float: right;
  }
  .nav-item {
      width: 100%;
  }
  .wbdv-new-course {
      justify-content: center;
  }

  .wbdv-new-page-btn, .wbdv-topic-pill {
    display: none;
  }

  .active-topic {
      display: block;
      width: 100%;
  }

  .editor-row {
      padding-right: 0;
  }
}